* {
  margin: 0;
  padding: 0;
  border: none;
  /*color: #3a3a3a;*/
  color: #000;
}

html {
  font-size: 62.5%;
}

body {
  background-color: rgb(217, 221, 201);
  font-family: "Lato", sans-serif;
}

header {
  position: sticky;
  top: 0;
  box-sizing: border-box;
  z-index: 9999;
}

.nav-item-logo
{
  display: flex;
  justify-content: center;
}
.nav-list {
  background: rgb(155, 163, 126);
  padding: 0.5rem 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.nav-item {
  list-style: none;
  margin-right: 2rem;
}

.nav-item a {
  font-size: 2rem;
  text-decoration: none;
  letter-spacing: 2px;
}

.nav-item a:hover {
  color: rgb(41, 177, 41);
  background-color: rgb(55, 83, 74);
  padding: 2rem;
  font-weight: 900;
  /*bold effect*/
}

/*
  .nav-item:first-child {
    margin-right: auto;
    margin-left: 1rem;
  }*/
#club-name {
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  font-size: 3.5rem;
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  #club-name {
    font-size: 2rem;
  }

  .nav-list {
    padding:2px 0;
    flex-direction: column;
  }

  .nav-item {
    margin-top: 10px;
  }

  .nav-item a {
    font-size: 1.5rem;
    margin-bottom: 100px;
  }

  .nav-item a:hover {
    color: rgb(41, 177, 41);
    padding: 2px;
    font-weight: 400;
      }
}

@media screen and (min-width: 481px) and (max-width: 768px) {

  #club-name {
    font-size: 2rem;
  }

 .nav-list {
    padding: 10px 0;
    
  }

  .nav-item {
    margin-top: 10px;
  }

  .nav-item a {
    font-size: 1rem;
    margin-bottom: 100px;
  }

  .nav-item a:hover {
    color: rgb(41, 177, 41);
    padding: 2px;
    font-weight: 400;
      }
}
/*
@media screen and (min-width: 769px) and (max-width: 1024px) {

}*/