body
{
margin: 0;
}
#first
{
    background-color: rgb(61, 61, 83);
    height: 100vh;
    width: 100%;
}
#second
{
    background-color: rgb(128, 106, 12);
    height: 100vh;
    width: 100%;
}
#menu
{  
    text-transform: uppercase;
}
#club-name
{
    text-transform: uppercase;
    display: flex;
    justify-content:left;
    margin: 20px;  
}

#header-top
{
    position: sticky;
    top: 0;
    z-index: 9999999;
    background: hotpink;
    display: flex;
    flex-direction: row;
    width: 100%;
}

#menu,
#club-name {
    line-height: 75px;
}
#menu ul {
    display: flex;
    justify-content:flex-start;
    margin-right: 25px;
    list-style-type: none;
}